<!doctype html>
<html>
	<head>
		<title mc:edit="subject_line">New NBS Tools & Resources coming soon!</title>
	</head>
	<body style="background-color: #b9d1ff;">
		<table cellspacing="0" cellpadding="0" style="color: #595959; font-family: Arial, sans-serif; font-size: 15px; width: 800px; line-height: 16px;" width="800">
			<tr>
				<td style="vertical-align: top;"><img src="http://gallery.mailchimp.com/24021e4f1785f867b7db42f8c/images/0b8eefc7-2cc7-43ea-bfbe-561869991335.png" border="0" style="display: block;" alt="" /></td>
				<td style="vertical-align: top;"><img src="http://gallery.mailchimp.com/24021e4f1785f867b7db42f8c/images/3499af0d-81d7-43a8-ab7e-0df838bcff77.png" border="0" style="display: block;" alt="" /></td>
			</tr>
			<tr>
				<td style="box-sizing: border-box; padding: 0 0 0 46px; vertical-align: top;" rowspan="2" mc:edit="content_block">
					<span style="font-family: 'arial narrow', arial, sans-serif; color: #003C76; font-size: 22px; font-weight: bold;">Dear *|FNAME|*,</span><br /><br />
					National Benefit Services (NBS) is excited to announce upcoming enhancements to our flexible benefit systems on August 1<sup>st</sup> of this year! Some of the new tools include:<br /><br />
					<table cellspacing="0" cellpadding="0" style="color: #595959; font-family: Arial, sans-serif; font-size: 13px; line-height: 16px; margin: 0;">
						<tr>
							<td style="padding-right: 14px; color: #003C76; vertical-align: top;">&bull;</td>
							<td style="color: #003C76;font-weight: bold; padding-bottom: 10px;">Mobile app for participants</td>
						</tr>
						<tr>
							<td style="padding-right: 14px; color: #003C76; vertical-align: top;">&bull;</td>
							<td style="color: #003C76;font-weight: bold; padding-bottom: 10px;">New and easy to use website</td>
						</tr>
						<tr>
							<td style="padding-right: 14px; color: #003C76; vertical-align: top;">&bull;</td>
							<td style="color: #003C76;font-weight: bold; padding-bottom: 10px;">Self service capabilities</td>
						</tr>
						<tr>
							<td style="padding-right: 14px;"></td>
							<td style="font-family: arial, sans-serif; padding-bottom: 10px; font-size: 15px;">&#8211; Direct deposit entry<br />
							&#8211; Make changes to demographic info<br />
							&#8211; New online claim entry process</td>
						</tr>
						<tr>
							<td style="padding-right: 14px; color: #003C76; vertical-align: top;">&bull;</td>
							<td style="color: #003C76;padding-bottom: 10px;">New notification options</td>
						</tr>
						<tr>
							<td style="padding-right: 14px;"></td>
							<td style="font-family: arial, sans-serif;  padding-bottom: 10px; font-size: 15px;">&#8211; Email<br />
							&#8211; Text<br />
							&#8211; Mail</td>
						</tr>
						<tr>
							<td style="padding-right: 14px; color: #003C76; vertical-align: top;">&bull;</td>
							<td style="color: #003C76;font-weight: bold; padding-bottom: 10px;">New and improved benefits card</td>
						</tr>
						<tr>
							<td style="padding-right: 14px;"></td>
							<td style="font-family: arial, sans-serif; padding-bottom: 10px; font-size: 15px;">&#8211; Automatic card activation<br />
							&#8211; Option for separate dependent cards
							</td>
						</tr>
					</table>
					
					Current card holders will receive new cards during the month of June, so <span style="text-decoration: underline;">please watch your mail</span> during that time period. These cards will replace your current cards beginning August 1<sup>st</sup>.<br />
					<br />
					There will be a blackout period during the upgrade from July 29-31<sup>st</sup> where your current NBS card will be inactivated. Please submit all claims to NBS via mail, fax, or email for processing during that time period.<br />
					<br />
					Over the next few weeks you will receive more information about these new features via email and direct mail to your home. Until then, please continue to utilize your current benefit card and account access options.<br />
					<br />
					Should you have any questions regarding these upgrades or regarding your current benefit with NBS please contact us.
					<br /><br />
					<span style="font-weight: bold; font-family: 'arial narrow', arial, sans-serif;">
					National Benefit Services, LLC<br />
					Phone: 855-399-3035<br />
					Email: <a href="mailto:service@nbsbenefits.com">service@nbsbenefits.com</a><br />
					Website: <a href="http://participant.nbsbenefits.com/">participant.nbsbenefits.com</a><br />
					</span>
					<br /><br />
				</td>
				<td style="vertical-align: top;"><img src="http://gallery.mailchimp.com/24021e4f1785f867b7db42f8c/images/e733e350-a145-4d3d-9206-0abacebd6215.png" border="0" width="263" height="63" style="display: block;" alt="National Benefit Services, LLC | Customer Care * Knowledge and Expertise * Organizational Excellence" align="right" />
					
					
				</td>
			</tr>
			<tr>
				<td style="vertical-align: top; padding-top: 30px;"><img src="http://gallery.mailchimp.com/24021e4f1785f867b7db42f8c/images/787d96a2-65b3-43c1-9dae-0861db5b0255.jpg" border="0" style="display: block; padding-top: 20px;" alt="" align="right" mc:edit="sidebar_image" /></td>
			</tr>
		</table>
	</body>
</html>